<form id="form"> 
  <input type="search" id="query" name="q" placeholder="Search a tag">
  <button>Search</button>
  <%Job.all.where(tag: params[:tags])%>
</form>

<h1>All jobs</h1>
<% @jobs.each do |job| %>
  <h2><%= job.title %></h2>
  <p>Job ID: <%= job.id %></p>
  <p>Company ID: <%= job.company_id %></p>
  <p>Description: <%= job.description %></p>
  <p>URL: <%= job.url %></p>
  <p>Location: <%= job.location %></p>
  <p>Active: <%= job.active %></p>
  <p>Salary Range: <%= job.salary_range %></p>
  <p>Tags: <%= job.tags %></p>
<% end %>

<%= link_to "More Info", @job %>
<%= link_to "New job", new_job_path %>