<h1>Companies</h1>
<% @companies.each do |company| %>
  <h2><%= company.name %></h2>
  <p>Company ID: <%= company.id %></p>
  <p>logo: <%= company.logo %></p>
  <p>Description: <%= company.description %></p>
  <p>Jobs: <%= company.jobs %></p>
<% end %>